body {
  background: grey;

}
* { 
  transition: 1s!important; 
  text-align: center!important;
}
h1 {
    top: 30%!important;
    bottom: unset;
    background: url(https://c.tenor.com/pA7GYHmHLv8AAAAC/rei-rei-ayanami.gif);
    -webkit-background-clip: text;
    color: transparent;
}
a {
    top: 40%;
    font-size: 50px;
}
